[submodule "autoload/search-highlighting.kak"]
	path = autoload/search-highlighting.kak
	url = https://github.com/alexherbo2/search-highlighting.kak.git
[submodule "autoload/kakoune-phantom-selection"]
	path = autoload/kakoune-phantom-selection
	url = https://github.com/occivink/kakoune-phantom-selection.git
[submodule "autoload/kakoune-auto-percent"]
	path = autoload/kakoune-auto-percent
	url = https://github.com/Delapouite/kakoune-auto-percent.git
[submodule "autoload/kakoune-cd"]
	path = autoload/kakoune-cd
	url = git@github.com:ngkz/kakoune-cd.git
