[submodule "autoload/search-highlighting.kak"]
	path = autoload/search-highlighting.kak
	url = https://github.com/alexherbo2/search-highlighting.kak.git
[submodule "autoload/kakoune-phantom-selection"]
	path = autoload/kakoune-phantom-selection
	url = https://github.com/occivink/kakoune-phantom-selection.git
